### Lanjutan Python dan Pengenalan Error Handling

<b>created by</b> : Muhammad Ammar Fauzan | maf.fauzan@gmail.com

#### Implementasi Apply Lambda tanpa Function def

In [2]:
import pandas as pd
pd.options.display.float_format = '{:,.0f}'.format # for make better formatting scientific number

In [3]:
df = pd.read_csv('summary_buyer_rakamin_store.csv')

df.head()

,order_month,user_id,full_name,phone,city,province,email,total_order,total_gmv,total_visit
0,2018-01-01,10000011,Ahmad Budiman,628785222211,Jakarta Pusat,DKI Jakarta,ahmad@gmail.com,127,3492500,235
1,2018-01-01,10000012,Azzam Haqq,628785222212,Surabaya,Jawa Timur,azzam@gmail.co.id,173,4757500,304
2,2018-01-01,10000013,Amrina Putri,628785222213,Jakarta Pusat,DKI Jakarta,amrina@yahoo.co.id,20,550000,62
3,2018-01-01,10000014,Aan Utama,628785222214,Medan,Sumatra Utara,aan@yahoo.com,18,495000,100
4,2018-01-01,10000015,Adam Adi,628785222215,Jakarta Timur,DKI Jakarta,adam@gmail.com,159,4372500,524

In [4]:
df['jakpus'] = df['city'].apply(lambda x: True if x == 'Jakarta Pusat' else False)
df.head()

,order_month,user_id,full_name,phone,city,province,email,total_order,total_gmv,total_visit,jakpus
0,2018-01-01,10000011,Ahmad Budiman,628785222211,Jakarta Pusat,DKI Jakarta,ahmad@gmail.com,127,3492500,235,True
1,2018-01-01,10000012,Azzam Haqq,628785222212,Surabaya,Jawa Timur,azzam@gmail.co.id,173,4757500,304,False
2,2018-01-01,10000013,Amrina Putri,628785222213,Jakarta Pusat,DKI Jakarta,amrina@yahoo.co.id,20,550000,62,True
3,2018-01-01,10000014,Aan Utama,628785222214,Medan,Sumatra Utara,aan@yahoo.com,18,495000,100,False
4,2018-01-01,10000015,Adam Adi,628785222215,Jakarta Timur,DKI Jakarta,adam@gmail.com,159,4372500,524,False

#### Challenge Time #2

menggunakan dataset <b>summary_buyer_rakamin_store</b>, buatlah kolom baru dengan nama provider_email dengan ketentuan berdasarkan domain emailnya:
- gmail → Google
- yahoo → Yahoo

Gunakan syntax apply lambda dan .split('@')! Tentukan provider email apa yang paling banyak digunakan customer pada tahun 2020

In [ ]:
#challenge Time 2

#### Challenge Time Lanjutan

Setelah berhasil melakukan pembuatan kolom provider_email, coba lakukan hal yang sama pada dataset <b>summary_buyer_rakamin_store_special.csv!</b>

Apakah mengalami <b>Error?<b>

Jika iya, apa yang akan kita palajari di materi selanjutnya akan membahas bagaimana mengatasi hal seperti ini.

#### Pengenalan Error and Exception

#### 1. Syntax Error

Error yang terjadi saat syntax yang dituliskan tidak sesuai dengan standar penulisan python programming.

##### Contoh 1

In [5]:
print'Hi! All'

SyntaxError: invalid syntax (<ipython-input-5-077be39d2fce>, line 1)

##### Contoh 2

In [7]:
if metode == 'Penjumlahan':
result = a+b

IndentationError: expected an indented block (<ipython-input-7-fcac8b070bf6>, line 2)

#### 2. Logical Error

Terjadinya error setelah berhasil mengeksekusi syntax test disebut exception / logical type.

##### Contoh Index Error

In [9]:
a = [1, 2, 3, 4]

a[5]

IndexError: list index out of range

##### Contoh ZeroDivisionError

In [10]:
a = 1
b = 0

c = a/b
#error karena secara logic suatu bilangan tidak boleh di bagi 0

ZeroDivisionError: division by zero

##### Contoh NameError

In [11]:
print(company_name)
#error karena variable company_name belum di definisikan

NameError: name 'company_name' is not defined

##### Contoh TypeError

In [12]:
angka = 12
kata = 'Ammar'

angka + kata
#type error karena type data int ditambahkan string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Contoh AttributeError

In [13]:
angka = 12

angka.append(13)
#type error karena type int tidak memiliki fungsi append

AttributeError: 'int' object has no attribute 'append'

##### Contoh ImportError

In [14]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'

#### 2.1 Handling Logical Erro (Try ... Except - Finally Statement)

In [15]:
# put unsafe operation in try block
try:
    print("Start")
    
    # unsafe operation perform
    print(1 / 0) 

# if error occur the it goes in except block
except:
    print("Muncul Error")
    
# final code in finally block
finally:
    print("Finish!")

Start
Muncul Error
Finish!

#### Challenge Time #3

Coba lakukan solve issue pembuatan kolom baru pada dataset <b>summary_buyer_rakamin_store_special.csv</b> di challenge sebelum nya!

In [ ]:
#challenge Time 3

### Module Function Sederhana

dapetkan file script .py di link berikut <a href = 'https://drive.google.com/drive/folders/1cyNw22YrFPOIB8XWecTXgFh4Z9K48ErK'>Click Here!</a>

#### Directory yang sama dengan Project Jupyter

In [16]:
from myfunction import calculator

In [17]:
calculator(x = 10, y= 20, metode='perkalian')

200

In [18]:
import myfunction as mf

In [19]:
mf.calculator(x = 10, y= 20, metode='perkalian')

200

#### Memungkinkan untuk berbeda directory

##### Contoh 1

In [20]:
from exercise.myfunction_special import calculator

In [21]:
calculator(x = 10, y= 20, metode='penjumlahan')

30

##### Contoh 2

In [22]:
import exercise.myfunction_special as ms

In [23]:
ms.calculator(x = 10, y= 20, metode='penjumlahan')

30

##### Contoh 3

In [24]:
import sys
sys.path.append('C:/Users/User/EVDATA/Project') #menyesuaikan directory masing2 device

In [25]:
import myfunction_exercise

In [26]:
myfunction_exercise.calculator(x = 10, y= 20, metode='penjumlahan')

30

#### Challenge Time #4

In [ ]:
#challenge Time 4

### Tetap Semangat Belajar Python, Good Luck!